doctype html
html(ng-app="twitterSurvey")
    // ASSIGN OUR ANGULAR MODULE
    head
        // META
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // Optimize mobile viewport
        title Umfrage zum Nutzerverhalten deutscher Twitteruser - Impressum
        // SCROLLS
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
        // load bootstrap
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
        link(rel='stylesheet', href='../assets/styles.css')
        style.
            html 					{ overflow-y:scroll; }
            body 					{ padding-top:50px; }
            #profile-list 				{ margin-bottom:30px; }
            #profile-form 	 			{ margin-bottom:50px; }
            // SPELLS
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js')
        script(src='../js/core.js')
        // load our main application
        // load angular
        script(src='../js/controllers/main.js')
        // load up our controller
        script(src='../js/services/profiles.js')
        // load our profile service



    body
        .container(ng-controller="mainCtrl as vm")
            .row  
                .col-xs-6
                  a(type='submit', href="../") 
                    img(src='../assets/kit.jpg').img-logo
                .col-xs-6
                  a(type='submit', href="../") 
                    img(src='../assets/ksri.jpg').img-logo.pull-right

            .well
                .panel-body
                    .col-sm-8.col-sm-offset-2
                      a(type='submit', href="../").btn.btn-success.btn-lg -> Zurück zur Umfrage
                      h1 Datenschutzerklärung:
                      p
                        strong Datenschutz
                      p
                        | Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.
                      p
                        | Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.
                      p
                        | Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
                      p  
                      p
                        strong Datenschutzerklärung für die Nutzung von etracker
                      p
                        | Unsere Webseite nutzt den Analysedienst etracker. Anbieter ist die etracker GmbH, Erste Brunnenstraße 1 20459 Hamburg Germany. 
                        br
                        | Aus den Daten können unter einem Pseudonym Nutzungsprofile erstellt werden. Dazu können Cookies eingesetzt werden. Bei Cookies handelt es sich um kleine Textdateien, die lokal im Zwischenspeicher Ihres Internet-Browsers gespeichert werden. Die Cookies ermöglichen es, Ihren Browser wieder zu erkennen. Die mit den etracker-Technologien erhobenen Daten werden ohne die gesondert erteilte Zustimmung des Betroffenen nicht genutzt, Besucher unserer Website persönlich zu identifizieren und werden nicht mit personenbezogenen Daten über den Träger des Pseudonyms zusammengeführt.
                      p
                        | Der Datenerhebung und -speicherung können Sie jederzeit mit Wirkung für die Zukunft widersprechen. Um einer Datenerhebung und -speicherung Ihrer Besucherdaten für die Zukunft zu widersprechen, können Sie unter nachfolgendem Link ein Opt-Out-Cookie von etracker beziehen, dieser bewirkt, dass zukünftig keine Besucherdaten Ihres Browsers bei etracker erhoben und gespeichert werden: 
                        a(href='http://www.etracker.de/privacy?et=V23Jbb') http://www.etracker.de/privacy?et=V23Jbb
                      p
                        | Dadurch wird ein Opt-Out-Cookie mit dem Namen "cntcookie" von etracker gesetzt. Bitte löschen Sie diesen Cookie nicht, solange Sie Ihren Widerspruch aufrecht erhalten möchten. Weitere Informationen finden Sie in den Datenschutzbestimmungen von etracker: 
                        a(href='http://www.etracker.com/de/datenschutz.html') http://www.etracker.com/de/datenschutz.html
                      p  
                      p
                        strong Datenschutzerklärung für die Nutzung von Twitter
                      p
                        | Auf unseren Seiten sind Funktionen des Dienstes Twitter eingebunden. Diese Funktionen werden angeboten durch die Twitter Inc., 1355 Market Street, Suite 900, San Francisco, CA 94103, USA. Durch das Benutzen von Twitter und der Funktion "Re-Tweet" werden die von Ihnen besuchten Webseiten mit Ihrem Twitter-Account verknüpft und anderen Nutzern bekannt gegeben. Dabei werden auch Daten an Twitter übertragen. Wir weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der übermittelten Daten sowie deren Nutzung durch Twitter erhalten. Weitere Informationen hierzu finden Sie in der Datenschutzerklärung von Twitter unter 
                        a(href='http://twitter.com/privacy') http://twitter.com/privacy
                        | .
                      p
                        | Ihre Datenschutzeinstellungen bei Twitter können Sie in den Konto-Einstellungen unter 
                        a(href='http://twitter.com/account/settings') http://twitter.com/account/settings
                        |  ändern.
                      p  
                      p
                        strong Auskunft, Löschung, Sperrung
                      p
                        | Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung sowie ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden.
                      p  
                      p
                        strong Server-Log-Files
                      p
                        | Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log Files, die Ihr Browser automatisch an uns übermittelt. Dies sind:
                      ul
                        li Browsertyp/ Browserversion
                        li verwendetes Betriebssystem
                        li Referrer URL
                        li Hostname des zugreifenden Rechners
                        li Uhrzeit der Serveranfrage
                      p
                        br
                        | Diese Daten sind nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachträglich zu prüfen, wenn uns konkrete Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden.
                      p  
                      p
                        strong Newsletterdaten
                      p
                        | Wenn Sie den auf der Webseite angebotenen Newsletter beziehen möchten, benötigen wir von Ihnen eine E-Mail-Adresse sowie Informationen, welche uns die Überprüfung gestatten, dass Sie der Inhaber der angegebenen E-Mail-Adresse sind und mit dem Empfang des Newsletters einverstanden sind. Weitere Daten werden nicht erhoben. Diese Daten verwenden wir ausschließlich für den Versand der angeforderten Informationen und geben sie nicht an Dritte weiter.
                      p
                        | Die erteilte Einwilligung zur Speicherung der Daten, der E-Mail-Adresse sowie deren Nutzung zum Versand des Newsletters können Sie jederzeit widerrufen , etwa über den „Austragen“-Link im Newsletter.
                      


    .text-center.text-muted
        p
            | Bei Fragen können Sie sich jederzeit an 
            a(href='mailto:twitter-research@web.de')  Robin Hirt
            |  wenden.
        p

            a(href='http://www.kit.edu', target='_blank') KIT - Karlsruher Institut für Technologie
            |   - 
            a(href='http://www.ksri.kit.edu', target='_blank') KSRI - Karlsruhe Service Research Institute
        p

            a(href='/impressum/') Impressum
            |   - 
            a(href='/datenschutz/') Datenschutzerklärung


    //- ul(ng-repeat="profile in profiles | limitTo:-5 | orderBy:'time':true")
    //-   li {{profile.screen_name}} , {{profile.age}}, {{profile.gender}}
    //- |partic
    //- ul(ng-repeat="participent in participents | limitTo:-5 | orderBy:'time':true")
    //-   li {{participent.screen_name}} , {{participent.age}}, {{participent.email}}
