doctype html
html(ng-app="twitterSurvey")
  // ASSIGN OUR ANGULAR MODULE
  head
      // META
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      // Optimize mobile viewport
      title Twitter Umfrage
      // SCROLLS
      link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
      // load bootstrap
      link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
      link(rel='stylesheet', href='assets/styles.css')
      style.
          html 					{ overflow-y:scroll; }
          body 					{ padding-top:50px; }
          #profile-list 				{ margin-bottom:30px; }
          #profile-form 	 			{ margin-bottom:50px; }
          // SPELLS
      script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js')
      script(src='js/core.js')
      // load our main application
      // load angular
      script(src='js/controllers/main.js')
      // load up our controller
      script(src='js/services/profiles.js')
      // load our profile service
      


  body
      .container(ng-controller="mainCtrl as vm")
          .row  
            .col-xs-6
              img(src='assets/kit.jpg').img-logo
            .col-xs-6
              img(src='assets/ksri.jpg').img-logo.pull-right
          .jumbotron.start(ng-if='step == 0')
            h2 Welche Nutzergruppen twittern in deutsch?
            p
                | Diese Umfrage hat das Ziel herauszufinden, wer im 
                b deutschsprachigen 
                | Raum Twitter nutzt. Hierzu benötigen wir folgende Informationen:
                ul
                  li Ihren Twitter Accountnamen
                  li Ihr Alter
                  li Ihr Geschlecht
                p 
                  | Ihre personenbezogenen Daten werden zu keinem Zeitpunkt veröffentlicht. In der nachfolgenden Datenverarbeitung werden Ihre Daten 
                  b anonymisiert 
                  | ausgewertet.
                  br
              div
                button.btn.btn-success.btn-lg(type='submit', ng-click='stepper(1)') Los geht's!
                p.pull-right 
                  | Dauer der Umfrage: 
                  span.label.label-info 
                    span.glyphicon.glyphicon-time(aria-hidden='true')
                    | < 1 Minute

          form(name='userForm', novalidate='', ng-if='step > 0')
            .panel.panel-default
              .panel-body
                #profile-form.row
                    .col-sm-8.col-sm-offset-2
                        div(ng-if='step == 1').text-center
                          .form-group(ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }")
                              label Geben Sie bitte Ihren Twitter-Namen ein:
                              .input-group
                                span#basic-addon1.input-group-addon.input-lg @
                                input.form-control.input-lg(type='text', name='name', placeholder='Accountname', ng-model='formData.screen_name',ng-pattern="/^[a-zA-Z0-9_-]*$/", required='')
                              p.help-block(ng-show='userForm.name.$invalid && !formData.name.$pristine') Bitte geben Sie einen gültigen Twitteraccountnamen an.
                          button.btn.btn-primary.btn-lg(type='submit',ng-disabled='userForm.$invalid', ng-click='checkTwitter();stepper(2)') Account prüfen
                              
                        div(ng-if='step == 2 && formData.twitterdata.exists == true').text-center
                          h2 {{formData.twitterdata.twittername}}
                          h4 Twitternutzer: @ {{formData.screen_name}}
                          img(src='{{formData.twitterdata.picture_url}}').img-thumbnail.img-responsive.center-block
                          p
                            .btn-group(role='group')
                              button.btn.btn-success.btn-lg(type='submit', ng-click='stepper(3)') Das bin ich
                              button.btn.btn-danger.btn-lg(type='submit', ng-click='stepper(1)') Das bin ich nicht
                        div(ng-if='step == 2 && formData.twitterdata.exists == false')
                          h3 Der Twitternutzer @{{formData.screen_name}} konnte leider nicht gefunden werden. Bitte prüfen Sie Ihre Eingabe.
                          button.btn.btn-primary.btn-lg(type='submit',ng-disabled='userForm.$invalid', ng-click='stepper(1)') Neuen Accountnamen eingeben      
                        div(ng-if='step == 3')
                          .row
                            .col-sm-4.pic-cont
                              img(src='{{formData.twitterdata.picture_url}}').img-thumbnail.img-responsive.center-block.small-img
                            .col-sm-8
                              br
                              h3 {{formData.twitterdata.twittername}}
                              h4 Twitternutzer: @ {{formData.screen_name}}
                          .row
                          .col-sm-12  
                            .form-group(ng-class="{ 'has-error' : userForm.age.$invalid && !userForm.age.$pristine }")
                              label Alter (z.B. 34):
                              input.form-control.input-lg(type='number', name='age' placeholder='Alter (z.B. 32)', ng-model='formData.age', required='')
                              p.help-block(ng-show='userForm.age.$invalid && !formData.age.$pristine') Bitte geben Sie Ihr Alter an.
                            .form-group(ng-class="{ 'has-error' : userForm.gender.$invalid && !userForm.gender.$pristine }")
                              label Geschlecht:
                              .radio
                                  label.radio-inline
                                      input#male(type='radio', name='gender', value='male', ng-model='formData.gender', ng-required='!formData.gender')
                                      | Männlich
                              .radio
                                  label.radio-inline
                                      input#female(type='radio', name='gender', value='female', ng-model='formData.gender', ng-required='!formData.gender')
                                      | Weiblich
                              br
                              p.help-block(ng-show='userForm.gender.$invalid && !formData.gender.$pristine') Bitte geben Sie Ihr Geschlecht an.
                            div.btn-group.text-center
                              button.btn.btn-primary.btn-lg(type='submit', ng-click='createProfile(); stepper(4)',ng-disabled='userForm.$invalid') Angaben absenden
                              button.btn.btn-default.btn-lg(type='submit', ng-click='stepper(2)') zurück
                                
                        .jumbotron(ng-if='step == 4 || step == 5')
                          h3 Vielen Dank für Ihre Teilnahme
                          p
                            | Wenn Sie über die Studie informiert bleiben wollen, können Sie gerne Ihre E-Mail Adresse hinterlassen und über Neuigkeiten informiert werden.
                            
                            .form-group(ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }")(ng-if='step == 4')
                              label Ihre E-Mail Adresse:
                              input.form-control(type='email', name='email').input-lg(placeholder='E-Mail Adresse', ng-model='formData.email')
                              p.help-block(ng-show='userForm.email.$invalid && !userForm.email.$pristine') Bitte geben Sie eine gültige E-Mailadresse an.      
                              button.btn.btn-primary.btn-lg(type='submit', ng-click='createParticipent();stepper(5) ',ng-disabled='userForm.$invalid') Informiert bleiben
                            .div(ng-if='step == 5')
                              h4 Ihre E-Mailadresse wurde erfolgreich gespeichert.
          .text-center.text-muted
              p
                  | Bei Fragen können Sie sich jederzeit an 
                  a(href='mailto:twitter-research@web.de')  Robin Hirt
                  |  wenden.
              p
                  | Lesen Sie die 
                  a(href='#') Datenschutzbestimmungen
                  | .
          //- ul(ng-repeat="profile in profiles | limitTo:-5 | orderBy:'time':true")
          //-   li {{profile.screen_name}} , {{profile.age}}, {{profile.gender}}
          //- |partic
          //- ul(ng-repeat="participent in participents | limitTo:-5 | orderBy:'time':true")
          //-   li {{participent.screen_name}} , {{participent.age}}, {{participent.email}}
